<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
	<nav class="nav">
		<div class="logo">
			<img src="{{ nav_logo }}">
			<a href="{{ nav_discord_url }}">{{ nav_title }}</a>
		</div>
		<ul>
			<li><a href="">About</a></li>
			<li><a href="">Futures</a></li>
			<li><a href="">Premium</a></li>
			<li><a href="{{ nav_discord_url }}">Discord</a></li>
		</ul>
		{% if user_logged %}
			<a href=""><button class="nav-btn"> <i class="fa-solid fa-panel"></i> Panel</button></a>
		{% else %}
			<a href=""><button class="nav-btn"> <i class="fa-solid fa-sign-in"></i> Login</button></a>
		{% endif %}
		<button id="menuButton"><i class="fa-solid"></i></button>
	</nav>
</body>
</html>