.cards {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 25px;
	flex-wrap: wrap;
	width: 28%;
}

.card {
	padding: 38px 26px;
	border: 3px solid var(--accent-1);
	border-radius: 15px;
}

.card-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card-icon i {
	color: var(--color-background);
	background-color: var(--accent-1);
	padding: 15px;
	font-size: 20px;
	border-radius: 15px;
}

.card-title {
	font-size: 30px;
	font-weight: 600;
	color: var(--accent-1);
}

.card-desc {
	font-size: 15px;
	color: var(--text-1);
	margin-top: 15px;
}