@import url('./navbar.css');
@import url('./icons.css');
@import url('./config.css');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	background-color: var(--color-background);
	color: var(--text-0);
}

ul {
	list-style: none;
}