.sidebar  {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 60px;         
    overflow: hidden;
    border-radius: 8px 0 0 8px;
    transition: width 0.3s ease;
    z-index: 1000;
  }
  
  .sidebar:hover {
    width: 200px;         
  }
  
  .sidebar a {
    display: flex;
    align-items: center;
    color: #f1f1f1;
    text-decoration: none;
    padding: 10px;
    border-bottom: 1px solid #444;
    transition: background 0.3s ease;
    background-color:  rgb(22, 25, 23);
  }
  
  .sidebar a:hover {
    background-color: #575757;
  }
  
  .sidebar i {
    font-size: 20px;
    min-width: 40px;      
    text-align: center;
  }
  
  .sidebar .social-text {
    margin-left: 10px;
    white-space: nowrap;
    opacity: 0;           
    transition: opacity 0.3s ease;
  }
  
  .sidebar:hover .social-text {
    opacity: 1;           
  }
  .sidebar.expanded {
    width: 5px;      
  }
  
  .sidebar.expanded .social-text {
    opacity: 1;
  }